@font-face {
  font-family: "PressStart2P-Regular";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hey-haters";
  src: url("/fonts/Hey Haters.ttf") format("truetype");
}
